.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 30px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container form {
    width: 100%;
    max-width: 400px;
}

.register-container h2 {
    margin-bottom: 20px;
}

.login-me {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    text-align: center;
}